@import '../../styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

.form {
  display: grid;

  width: 350px;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-items: center;
}
