@import '../../styles/variables.scss';

.default {
  position: absolute;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  width: 350px;

  &.left {
    left: 16px;
  }

  &.right {
    right: 16px;
  }

  &.top {
    top: 16px;
  }

  &.bottom {
    bottom: 16px;
  }

  div {
    margin-bottom: 8px;
  }
}
