@import '../../styles/variables.scss';

.default {
  width: 250px;
  height: 40px;

  letter-spacing: 1px;

  font-size: 16px;

  font-weight: 500;

  &.success {
    color: $success-light;
    background-color: $success;

    &:active {
      color: $success;
      background-color: $success-light;
    }
  }

  &.error {
    color: $danger-light;
    background-color: $danger;

    &:active {
      color: $danger;
      background-color: $danger-light;
    }
  }

  &.warning {
    color: $warning-light;
    background-color: $warning;

    &:active {
      color: $warning;
      background-color: $warning-light;
    }
  }

  &.info {
    color: $info-light;
    background-color: $info;

    &:active {
      color: $info;
      background-color: $info-light;
    }
  }
}
