@import '_clear.css';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background-color: $white;
}
