$danger: #FD726A;
$danger-light: #FFDEDD;

$success: #44CB7F;
$success-light: #D4FFE7;

$warning: #F39C12;
$warning-light: #FDEBD0;

$info: #3498DB;
$info-light: #D6EAF8;

$white: #FFF;

$gray: #ABB2B9;
$gray-dark: #2C3E50;
