@import '../../styles/variables.scss';

.default {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 40px;
  padding: 8px;

  button {
    background-color: transparent;

    font-size: 12px;
    font-weight: 700;
  }

  &.success {
    color: $success-light;
    background-color: $success;

    button {
      color: $success-light;
    }
  }

  &.error {
    color: $danger-light;
    background-color: $danger;

    button {
      color: $danger-light;
    }
  }

  &.warning {
    color: $warning-light;
    background-color: $warning;

    button {
      color: $warning-light;
    }
  }

  &.info {
    color: $info-light;
    background-color: $info;

    button {
      color: $info-light;
    }
  }
}
